/* COLORES */
:root{
    --primary-100:#FFC727;
    --primary-200:#ffbb00e7;
    --primary-300:#745900;
    --accent-100:#6D31ED;
    --accent-200:#5d29ce;
    --text-100:#171A1F;
    --text-200:#424856;
    --bg-100:#ffffff;
    --bg-200:#fffefb;
    --bg-300:#f5f4f1;
}

/* TYPOGRAPHY */
:root{
    --body-font: 'Roboto', sans-serif;
    --big-font-size: 2rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
    :root{
        --big-font-size: 2.5rem;
        --normal-font-size: 1rem;
    }    
}

/* BASE */
*, ::before, ::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    color: var(--text-100);
}

h1{
    margin: 0;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* FORM */
.l-form{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* SHAPES */
.shape1, .shape2, .shape3{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.shape1{
    top: -7rem;
    left: -3.5rem;
    background: var(--primary-100);
}

.shape2{
    bottom: -6rem;
    right: -5.5rem;
    background: var(--primary-100);
}

.shape3{
    bottom: -7rem;
    left: -3.5rem;
    background: var(--primary-100);
}

/* FORM */
.form{
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.form__content{
    width: 290px;
}

.form__img{
   display: none;
}

.form__content-img{
    display: block;
    margin: 0 auto;
    width: 240px;
}

.form__title{
    font-size: var(--big-font-size);
    font-weight: 500;
    margin-bottom: 2rem;
}

.form__description{
    color: var(--text-200)
}

/* LABEL FOCUS */

.form__link-back{
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: var(--normal-font-size);
    color: var(--text-color-lighter);
    font-weight: 500;
    transition: .5;
}

.form__link-back-bold{
    color: var(--accent-100);
    font-weight: bold;
}

.form_button{
    width: 100%;
    padding: 1rem;
    font-size: var(--normal-font-size);
    outline: none;
    border: none;
    margin-bottom: 3rem;
    background-color: var(--accent-100);
    color: #fff;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
}

.form_button:hover{
    background-color: var(--accent-200);
    box-shadow: 0px 15px 36px rgba(0, 0, 0, .15);
}

/* MEDIA QUERIS */
@media screen and (min-width: 600px) {
    
    .form__content{
        width: 340px;
    }

}

@media screen and (min-width: 768px) {
    
    .form__content{
        width: 440px;
    } 

}

@media screen and (min-width: 968px) {
    .shape1{
        width: 400px;
        height: 400px;
        top: -11rem;
        left: -6.5rem;
    }
    .shape2{
        width: 300px;
        height: 300px;
        right: -6.5rem;
    }
    /* .shape3{
        width: 400px;
        height: 400px;
        top: -11rem;
        left: -6.5rem;
    } */

    .form{
        grid-template-columns: 1.5fr 1fr;
        padding: 0 2rem;
    }

    .form__content{
        width: 440px;
    }

    .form__img{
        display: block;
        width: 700px;
        justify-self: center;
        z-index: 2;
    }
}